h1{
    text-align: center;
    color: green;
}
p{
    width: 220px;
    height: 100px;
    margin-top: 90px;
    color: black;
    font-size: 25px;
}
.text:active{
    background-color: orange;
}
.text{
    background-color: yellow;
    width: 240px;
    height: 130px;
    margin: 0 auto;
}